/* We need define color palette */
.color-green-1{
  color: #1F4E5A;
}
.color-green-1{
  color: #009C8E;
}
.color-yellow{
  color: #FFDB6A;
}
.color-orange-1{
  color: #FFDB6A;
}
.color-orange-1{
  color: #FFDB6A;
}
.color-white{
  color: #FFFFFF;
}

.background-green-1{
  background: #1F4E5A;
}
.background-green-1{
  background: #009C8E;
}
.background-yellow{
  background: #FFDB6A;
}
.background-orange-1{
  background: #FFDB6A;
}
.background-orange-1{
  background: #FFDB6A;
}
